<template>
  <div>
      <ui-header>
          Profile details
      </ui-header>
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'


@Component
export default class ViewMyProfile extends Vue {

}
</script>


