<template>
    <ui-non-auth>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </ui-non-auth>
</template>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';

@Component
export default class NonAuthIndex extends Vue {
    
}
</script>


