<template>
  <div>
      My Interests view
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

@Component
export default class MyInterests extends Vue {

}
</script>


