<template>
   <div>

        <!-- Body -->
        <div> 
            <form>

                <p
                    v-if="loginFailed"
                >Incorrect username/password</p>

                <v-text-field
                    v-model="email"
                    :error-messages="emailErrors"
                    label="E-mail"
                    required
                    @blur="$v.email.$touch()"
                ></v-text-field>

                <v-text-field
                    v-model="password"
                    type="password"
                    :error-messages="passwordErrors"
                    label="Password"
                    required
                    @blur="$v.password.$touch()"
                ></v-text-field>

                <v-btn 
                    block 
                    @click.native="loginHandler" 
                    :disabled="$v.$invalid" 
                >Login</v-btn>

                <p>OR</p>

                <v-btn block to="/register">I'm new to oioi</v-btn>
            </form>
        </div>
        <!-- / Body -->

        <!-- Footer -->
        <div>
             <v-btn flat block to="/password-reset">I've forgotten my password</v-btn>
        </div>
        <!-- / Footer -->
    </div>
</template>

<style lang="scss" scoped>
</style>

<script lang="ts">
import Vue from 'vue';
import { Getter } from 'vuex-class';

import S from '@/store/index';
import Component from 'vue-class-component';

import { required, email } from 'vuelidate/lib/validators';


@Component({
  validations: {
        email: {
            required,
            email,
        },
        password: {
            required,
        },
    },
})
export default class Login extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    private email: string = '';
    private password: number | string = '';

    private emailError: string[] = [];
    private passwordError: string[] = [];

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

    @S.UsersApi.Getter loginFailed: any;

    ////////////////////////////////////
    //  actions
    ////////////////////////////////////

    @S.UsersApi.Action loginUser: any

    ////////////////////////////////////
    //  methods
    ////////////////////////////////////
    
    // TODO add UI to reflect incorrect username/password
    loginHandler() {
        this.loginUser({
            email: this.email,
            password: this.password,
        })
    }

    get emailErrors () {
        if (!this.$v) return null
        if (!this.$v.email.$error) return null

 
        if (!this.$v.email.$dirty) return this.emailError
        !this.$v.email.email && this.emailError.push('Must be valid e-mail')
        !this.$v.email.required && this.emailError.push('E-mail is required')
        return this.emailError
    }

    get passwordErrors () {
        if (!this.$v) return null
        if (!this.$v.password.$error) return null

        if (!this.$v.password.$dirty) return this.passwordError
        !this.$v.password.required && this.passwordError.push('Password is required')
        return this.passwordError
    }   
}
</script>
