<template>
    <div>
  
        <form>
            <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                @blur="$v.email.$touch()"
            ></v-text-field>

            <v-btn block @click.native="submit" :disabled="$v.$invalid">Reset password</v-btn>

        </form>

        <!-- Footer -->
        <div>
             <v-btn flat block to="/">sign in</v-btn>
        </div>
        <!-- / Footer -->
    </div>
</template>

<style lang="scss" scoped>
</style>

<script lang="ts">
import Vue from 'vue';
import { Getter } from 'vuex-class';

import S from '@/store/index';
import Component from 'vue-class-component';

import { required, email } from 'vuelidate/lib/validators';


@Component({
    validations: {
        email: {
            required,
            email,
        },
    },
})
export default class PasswordReset extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    private email: string = '';
    private errors: any = [];

    get emailErrors () {
        if (!this.$v) return null
        if (!this.$v.email.$error) return null

 
        if (!this.$v.email.$dirty) return this.errors
        !this.$v.email.email && this.errors.push('Must be valid e-mail')
        !this.$v.email.required && this.errors.push('E-mail is required')
        return this.errors
    }
}
</script>
