<template>
  <div>
      My business view
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index';

@Component
export default class MyBusiness extends Vue {

}
</script>


