<template>
    <div>
        <ui-fullscreen
            v-if="isOverlayVisible"
            header="Welcome to oioi"
            copy="Registration successful"
            icon="check"
            linkTo="/login"
            linkToText="Login"
            v-on:onClick="closeFullscreen"
        ></ui-fullscreen>

        <!-- Body -->
        <div class="content"> 
            <form>
                <v-text-field
                    v-model="email"
                    :error-messages="emailErrors"
                    label="E-mail"
                    required
                    v-on:input="checkEmail"
                    @blur="$v.email.$touch()"
                ></v-text-field>
                <div v-if="isEmailAvail">
                    Email is taken
                </div>

                <!-- Username -->
                <v-text-field
                    v-model="username"
                    :error-messages="usernameErrors"
                    label="Username"
                    required
                    v-on:input="checkUsername"
                    @blur="$v.username.$touch()"
                ></v-text-field>
                <div v-if="isUsernameTaken">
                    Username is taken
                </div>
                <!-- / Username -->


                <v-text-field
                    v-model="password"
                    type="password"
                    :error-messages="passwordErrors"
                    label="Password"
                    required
                    @blur="$v.password.$touch()"
                ></v-text-field>

                <v-text-field
                    v-model="confirmPassword"
                    type="password"
                    :error-messages="confirmPasswordErrors"
                    label="Confirm Password"
                    required
                    @blur="$v.confirmPassword.$touch()"
                ></v-text-field>

                <v-btn 
                    block 
                    @click.native="submitHandler" 
                    :disabled="$v.$invalid || isUsernameTaken || isEmailAvail"
                >Register</v-btn>
            </form>
        </div>
        <!-- / Body -->

        <!-- Footer -->
        <div class="footer">
             <v-btn flat block to="/">sign in</v-btn>
        </div>
        <!-- / Footer -->
    </div>
</template>

<style lang="scss" scoped>
</style>

<script lang="ts">
import Vue from 'vue';
import { Getter, Action } from 'vuex-class';

import S from '@/store/index';
import Component from 'vue-class-component';

import { required, email, sameAs, minLength } from 'vuelidate/lib/validators'


@Component({
    validations: {
        email: {
            required,
            email,
        },
        password: {
            required,
            minLength: minLength(8),
        },
        confirmPassword: {
            required,
            sameAsPassword: sameAs('password'),
        },
        username: {
            required,
        },
    },
})
export default class Register extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    email: string = '';
    password: number | string = '';
    confirmPassword: number | string = '';
    username: string = '';
    
    emailError: string[] = [];
    passwordError: string[] = [];
    confirmPasswordError: string[] = [];
    usernameError: string[] = [];

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.UsersApi.Getter userHasRegistered: any
    @S.UsersApi.Getter isUsernameTaken: any;
    @S.UsersApi.Getter isEmailTaken: any;
    @S.Ui.Getter isOverlayVisible!: boolean

    get isEmailAvail () {
        return this.isEmailTaken
    }

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.UsersApi.Action newUser: any;
    @S.UsersApi.Action checkIfUsernameExists: any;
    @S.UsersApi.Action checkIfEmailExists: any;
    @S.Ui.Action hideOverlay: any

    get emailErrors() {
   
        if (!this.$v) return null;
        if (!this.$v.email.$error) return null;

        if (!this.$v.email.$dirty) return this.emailError
        !this.$v.email.email && this.emailError.push('Must be valid e-mail')
        !this.$v.email.required && this.emailError.push('E-mail is required');
        return this.emailError;
    }

    get passwordErrors() {
        if (!this.$v) return null;
        if (!this.$v.password.$error) return null;

        if (!this.$v.password.$dirty) return this.passwordError

        !this.$v.password.required && this.passwordError.push('Password is required')
        !this.$v.password.minLength && this.passwordError.push('Password must be 8 characters long')
        return this.passwordError;
    }

    get confirmPasswordErrors() {
        if (!this.$v) return null;
        if (!this.$v.confirmPassword.$error) return null;

        if (!this.$v.confirmPassword.$dirty) return this.confirmPasswordError
        !this.$v.confirmPassword.required && this.confirmPasswordError.push('Password does not match')
        return this.confirmPasswordError;
    }

    get usernameErrors () {
        if (!this.$v) return null
        if (!this.$v.username.$error) return null

        if (!this.$v.username.$dirty) return this.usernameError
        !this.$v.username.required && this.usernameError.push('Username is required')
        return this.usernameError
    }

    checkEmail() {
      this.checkIfEmailExists(this.email)
    }

    checkUsername() {
      this.checkIfUsernameExists(this.username)
    }

    submitHandler() {
        this.newUser({
            email: this.email,
            password: this.password,
            username: this.username
        })
    }

    closeFullscreen (route: string) {
        this.hideOverlay()
        this.$router.push(route)
    }

    // TODO styling for username and email taken messages
}
</script>
