<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs12>
                        Build my profile
                    </v-flex>
                </v-layout> 
            </v-container>
        </ui-header>

        <ui-body>

            <ui-cover-pic
            
            >
            </ui-cover-pic>
              
            
            

            <div 
                v-if="profileImg" 
                class="avatar" 
                @click="$refs.avatar.click()" 
            > 
                <div 
                    class="avatar__container" 
                    :style="`background-image: url(${profileImg}); background-size: container; background-position: center center;`"
                >    
                </div> 
            </div>

            <div v-else class="avatar" @click="$refs.profile.click()"> 
                <div class="avatar__container">
                    <v-icon>camera_alt</v-icon>
                    <p>CHOOSE COVER PHOTO</p>    
                </div>     
            </div>

            <div class="form">
                <v-container>
                    <v-layout>
                        <v-flex xs12>

                            <!-- First Name -->
                            <v-text-field
                                v-model="firstname"
                                :error-messages="firstnameErrors"
                                label="First name"
                                required
                                @blur="$v.firstname.$touch()"
                            ></v-text-field>
                            <!-- / First Name -->

                            <!-- Second Name -->
                            <v-text-field
                                v-model="secondname"
                                :error-messages="secondnameErrors"
                                label="Second Name"
                                required
                                @blur="$v.secondname.$touch()"
                            ></v-text-field>
                            <!-- / Second Name -->

                            <!-- Hidden fields -->
                            <input type="file" name="profile" ref="profile" @change="onProfileChange" style="display: none">
                            
                            <!-- / Hidden fields -->

                            <v-btn 
                                block
                                color="primary"
                                @click.native="saveProfileData('NEXT')" 
                                :disabled="$v.$invalid" 
                            >Continue</v-btn>
                            
                            <v-btn 
                                flat 
                                block
                                @click.native="saveProfileData('HOME')" 
                                :disabled="$v.$invalid" 
                            >That's enough registering for now</v-btn>

                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>


.form {
    margin-top: 25px
}
</style>

<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

import { required } from 'vuelidate/lib/validators';
import { usersData } from '@/store/modules/users/data/store-users-data.module';


@Component({
    validations: {
        firstname: {
            required,
        },
        secondname: {
            required,
        },
    },
})
export default class ViewEditMyProfile extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    firstname: string = '';
    firstnameError: string[] = [];

    secondname: string = '';
    secondnameError: string[] = [];
    

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////

    @S.UsersApi.Action checkIfUsernameExists: any
    @S.UsersApi.Action saveProfile: any
    @S.UsersApi.Action addCoverPhoto: any
    @S.UsersApi.Action addProfilePhoto: any

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////

    get firstnameErrors () {
        if (!this.$v) return null
        if (!this.$v.firstname.$error) return null

        if (!this.$v.firstname.$dirty) return this.firstnameError
        !this.$v.firstname.required && this.firstnameError.push('First name is required')

        return this.firstnameError
    }

    get secondnameErrors () {
        if (!this.$v) return null
        if (!this.$v.secondname.$error) return null

        if (!this.$v.secondname.$dirty) return this.secondnameError
        !this.$v.secondname.required && this.secondnameError.push('Second name is required')

        return this.secondnameError
    }


    onCoverChange(e: any) {
       
        this.cover =  e.target.files[0];

        // Image for local use
        this.coverImg = URL.createObjectURL(this.cover);

        // Trigger uploading image to server
        let formData = new FormData();

        formData.append('cover', this.cover);

        this.addCoverPhoto(formData)
    }

    onProfileChange(e: any) {
       
        console.log("test")

        this.profile =  e.target.files[0];

        // Image for local use
        this.profileImg = URL.createObjectURL(this.profile);

        // Trigger uploading image to server
        let formData = new FormData();

        formData.append('profile', this.profile);

        this.addProfilePhoto(formData)
    }

    saveProfileData () {
        //this.saveProfile()
        this.$router.push('/home')
    }
}
</script>


