
<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs12>
                        Build my profile
                    </v-flex>
                </v-layout> 
            </v-container>
        </ui-header>

        <ui-body>

            <ui-cover-pic
                :image="user.cover"
                v-on:coverChange="updateCoverImage"
            >
            </ui-cover-pic>

            <ui-profile-pic
                :image="user.profile"
                v-on:profileChange="updateProfileImage"
            >
            </ui-profile-pic>
              
            <div class="form">
                <v-container>
                    <v-layout>
                        <v-flex xs12>
                            
                            <!-- First Name -->
                            <v-text-field
                                v-model="firstname"
                                :error-messages="firstnameErrors"
                                label="First name"
                                required
                                @blur="$v.firstname.$touch()"
                            ></v-text-field>
                            <!-- / First Name -->

                            <!-- Second Name -->
                            <v-text-field
                                v-model="secondname"
                                :error-messages="secondnameErrors"
                                label="Second Name"
                                required
                                @blur="$v.secondname.$touch()"
                            ></v-text-field>
                            <!-- / Second Name -->

                            <v-btn 
                                block
                                color="primary"
                                @click.native="saveProfileData('NEXT')" 
                                :disabled="$v.$invalid" 
                            >Continue</v-btn>
                            
                            <v-btn 
                                flat 
                                block
                                @click.native="saveProfileData('HOME')" 
                                :disabled="$v.$invalid" 
                            >That's enough registering for now</v-btn>

                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>
.form {
    margin-top: 25px
}
</style>

<script lang="ts">
// TODO fix errors on page
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

import { required } from 'vuelidate/lib/validators';
import { usersData } from '@/store/modules/users/data/store-users-data.module';


@Component({
    validations: {
        firstname: {
            required,
        },
        secondname: {
            required,
        },
    },
})
export default class ViewProfile extends Vue {

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.UsersApi.Getter isUsernameTaken: any;
    @S.UsersData.Getter user!: {}

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////

    @S.UsersApi.Action checkIfUsernameExists: any
    @S.UsersApi.Action updateMyInformation: any
    @S.UsersApi.Action addCoverPhoto: any
    @S.UsersApi.Action addProfilePhoto: any

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    firstnameError: string[] = [];
    secondnameError: string[] = [];

    get firstname () {
        return this.user.firstname
    }

    get secondname () {
        return this.user.secondname
    }

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////

    get firstnameErrors () {
        if (!this.$v) return null
        if (!this.$v.firstname.$error) return null

        if (!this.$v.firstname.$dirty) return this.firstnameError
        !this.$v.firstname.required && this.firstnameError.push('First name is required')

        return this.firstnameError
    }

    get secondnameErrors () {
        if (!this.$v) return null
        if (!this.$v.secondname.$error) return null

        if (!this.$v.secondname.$dirty) return this.secondnameError
        !this.$v.secondname.required && this.secondnameError.push('Second name is required')

        return this.secondnameError
    }

    updateCoverImage(formData: FormData) {
        this.addCoverPhoto(formData)
    }

    updateProfileImage(formData: FormData) {
        console.log("trigger")
        this.addProfilePhoto(formData)
    }

    saveProfileData () {
        this.updateMyInformation({
            firstname: this.firstname,
            lastname: this.secondname
        })
        this.$router.push('/home')
    }
}
</script>


