<template>
    <ui-auth>
        <!-- Body -->
        <template slot>
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition> 
        </template>  
        <!-- / Body -->

        <!-- Bottom Nav -->
        <template slot="bottom-nav">
            <ui-bottom-nav></ui-bottom-nav>
        </template>  
        <!-- / Bottom Nav -->
    </ui-auth>
</template>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';

@Component
export default class Home extends Vue {}
</script>


