<template>
    <div class="Auth">
        <div class="Auth__container">
            <slot></slot>
        </div>

        <div class="Auth__bottom-nav">
            <slot name="bottom-nav"></slot>
        </div>
        
    </div>
</template>

<style lang="scss" scoped>
.Auth {
    padding: 58px 0 55px 0;
}
</style>

<script lang="ts">
import Vue from 'vue';

import Component from 'vue-class-component';

@Component
export default class UiAuthLayout extends Vue {
}
</script>
