<template>
    <v-bottom-nav
      :active.sync="bottomNav"
      :value="true"
      fixed
      color="white"
    >
      <v-btn
        color="teal"
        flat
        value="home"
        to="/search"
      >
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>

      <v-btn
        color="teal"
        flat
        value="profile"
        to="/profile"
      >
        <span>Profile</span>
        <v-icon>person</v-icon>
      </v-btn>

      <v-btn
        color="teal"
        flat
        value="inn"
        to="/inn"
      >
        <span>Inn</span>
        <v-icon>notifications</v-icon>
      </v-btn>

      <v-btn
        color="teal"
        flat
        value="market"
        to="/marketplace"
      >
        <span>Marketplace</span>
        <v-icon>store</v-icon>
      </v-btn>
    </v-bottom-nav>
</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator';

@Component
export default class BottomNav extends Vue {
    bottomNav: string = 'recent';
}
</script>
