<template>
    <div class="general">
        <slot></slot>
    </div>
</template>

<style lang="scss" scoped>
.general {
    height: 100%;
}
</style>

<script lang="ts">
import Vue from 'vue';

import Component from 'vue-class-component';

@Component
export default class UiGeneralBodyLayout extends Vue {
}
</script>
