<template>
    <div class="nonAuth">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <v-img
                            class="nonAuth__logo"
                            :src="require('@/assets/white-logo-transparent.png')"
                            contain
                        />
                    <slot></slot>
                </v-flex>
            </v-layout>
        </v-container>
   
    </div>
</template>

<style lang="scss" scoped>
    @import "@/assets/style/_variables.scss";

    .nonAuth {
        background: $cyan;
        color: $white;
        height: 100vh;
        text-align: center;
        position: relative;

        &__logo {
            margin-bottom: 25px;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';

import Component from 'vue-class-component';

@Component
export default class UiNonAuthLayout extends Vue {

    
}
</script>
