<template>
    <v-icon
        @click="$router.go(-1)"
        color="white"
    >arrow_back</v-icon>
</template>

<style lang="scss" scoped>
</style>


<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class UiBackButton extends Vue {}
</script>

