<template>
    <div>
        <div class="cover"
            v-if="coverPic" 
            @click="$refs.cover.click()" 
            :style="`background-image: url(${coverPic}); background-size: cover; background-position: center center;`"
        ></div>

        <div v-else class="cover" @click="$refs.cover.click()">
            <div class="cover__cover-img">
                <div class="cover__container">
                    <v-container>
                        <v-layout align-center justify-center row fill-height>
                            <v-flex xs12>
                                <div class="cover__placeholder">
                                    <v-icon>camera_alt</v-icon>
                                    <p>CHOOSE COVER PHOTO</p>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </div>
            </div>
        </div>

        <!-- Hidden field we need for custom upload -->
        <input type="file" name="cover" ref="cover" @change="onCoverChange"  style="display: none">
         <!--  /Hidden field we need for custom upload -->
    </div>
</template>

<style lang="scss" scoped>
.cover {
    min-height: 350px;

    &:hover {
        cursor: pointer;
    }

    &__placeholder {
        padding-top:50px;
    }

    &__cover-img {
        background: #fff;
        min-height: 250px;
        text-align: center;
    }
}

</style>

<script lang="ts">
import { Vue, Component, Prop} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

@Component
export default class UiCoverPic extends Vue {

    ////////////////////////////////////
    //  Props
    ////////////////////////////////////
    @Prop({
        type: String
    }) image!: string

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    cover: any = this.image

    get coverPic () {
        return this.image
    }

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////

    onCoverChange(e: any) {

        // Image for local use
        this.cover =  e.target.files[0];
        // this.image = URL.createObjectURL(this.cover);

        // Sending formData with the emit reques
        let formData = new FormData();

        formData.append('cover', this.cover);

        this.$emit('coverChange', formData);
    }
}
</script>


