<template>
    <div class="fullscreen-msg">
        <v-layout align-center justify-center row fill-height>
            <v-flex xs12>
                <v-icon class="fullscreen-msg__icon">{{this.icon}}</v-icon>
                <h1 class="fullscreen-msg__title">{{this.header}}</h1>
                <p class="fullscreen-msg__copy">{{this.copy}}</p>
                <v-btn 
                    v-if="this.linkTo != null" 
                    @click="onClick"
                >{{this.linkToText}}</v-btn>
            </v-flex>
        </v-layout>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class UiFullScreenMsg extends Vue {

    ////////////////////////////////////
    //  Props
    ////////////////////////////////////
    @Prop({ type: String, default: null, required: true }) private header!: string;
    @Prop({ type: String, default: null, required: true }) private copy!: string;
    @Prop({ type: String, default: null, required: true }) private icon!: string;
    @Prop({ type: String, default: null, }) private linkTo!: string;
    @Prop({ type: String, default: null, }) private linkToText!: string;

    ////////////////////////////////////
    //  Methods
    //////////////////////////////////// 
    
    onClick () {
        this.$emit('onClick', this.linkTo);
    }
}
</script>

<style lang="scss" scoped>
 @import "@/assets/style/_variables.scss";

    .fullscreen-msg {
        height: 100%;
        width: 100%;
        background: $cyan;
        color: #ffffff;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;

        &__title {
            color: $white;
        }

        &__copy {
            color: $white;
        }

        &__icon {
            color: #fff;
            font-size: 76px;
        }

    }
</style>
