<template>

  <div>
      
    <v-stepper alt-labels v-model="e1">

    <!-- Stepper Header -->
    <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">Listing basics</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">Listing Type</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3">Delivery Type</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 4" step="4">Cost</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="5">Preview</v-stepper-step>
    </v-stepper-header>
    <!-- / Stepper Header -->

    <v-stepper-items>

        <!-- Step 1 Listing Basics -->
        <v-stepper-content step="1">

            <!-- Item name -->
            <v-text-field
                label="Title"
                v-model="listingName"
                v-on:input="titleHandler(listingName)"
                counter="100"
            ></v-text-field>
            <!-- / Item name -->

            <!-- Item Description -->
            <v-textarea
                v-model="listingDescription"
                v-on:input="descriptionHandler(listingDescription)"
                auto-grow
                label="Description"
                rows="1"
                counter="500"
            ></v-textarea>
            <!-- / Item Description -->

            <v-btn
                color="primary"
                @click="e1 = 2"
                :disabled="listingDescription==='' || listingName === ''"
                block
            >
                Continue
            </v-btn>

        </v-stepper-content>
        <!-- / Step 1 Listing basics -->

        <!-- Step 2 -->
        <v-stepper-content step="2">
            <v-btn @click="listingMethod('BIN')" block>buy it now</v-btn>
            <v-btn @click="listingMethod('AUCTION')" block>99p it</v-btn>
        </v-stepper-content>
        <!-- / Step 2 -->

        <!-- Step 3 -->
        <v-stepper-content step="3">
            <v-btn @click="deliveryMethod('POSTAGE')" block>postage</v-btn>
            <v-btn @click="deliveryMethod('COLLECTION')" block>collection</v-btn>
            <v-btn @click="deliveryMethod('BOTH')" block>both</v-btn>
        </v-stepper-content>
        <!-- / Step 3 -->

        <!-- Step 4 -->
        <v-stepper-content step="4">
            <!-- Base Cost -->
            <v-text-field
                label="Cost"
                v-model="cost"
            ></v-text-field>
            <!-- / Base Cost -->

            <!-- Postage Cost -->
            <div v-if="getDeliveryType === 'POSTAGE' || getDeliveryType === 'BOTH'">
                <v-text-field
                    label="Postage Cost"
                    v-model="postageCost"
                ></v-text-field>
            </div>
            <!-- / Postage Cost -->

            <v-btn @click="savePayment({cost, postageCost})" block>preview listing</v-btn>
        </v-stepper-content>
        <!-- / Step 4 -->

        <!-- Step 5 -->
        <v-stepper-content step="5">
             <v-card>
                <h1>Listing Preview</h1>
                <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                    aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{getListingPreview.title}}</h3>
                    <h4 class="headline mb-0">{{getListingPreview.cost}}</h4>
                    <p>{{getListingPreview.description}}</p>
                </div>
                </v-card-title>

                <v-card-actions>
                    <v-btn 
                        block
                        @click.native="updateListingHandler"
                    >Update</v-btn>
                </v-card-actions>
            </v-card>
        
        </v-stepper-content>
        <!-- / Step 5 -->
    </v-stepper-items>
  </v-stepper>
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class UiListingForm extends Vue {

    @Prop({ type: Object, default: null, required: true }) private myListing!: {};

    @S.GameSell.Action addItemIdtoListing: any

    created() {
        this.addItemIdtoListing(this.$route.params.id)
    }

    ////////////////////////////////////
    //  Stepper
    ////////////////////////////////////
    private e1: any =  0;
    
    ////////////////////////////////////
    //  Step 1
    ////////////////////////////////////
    
    private listingName: string = this.myListing.title;
    private listingDescription: string = this.myListing.description;

    @S.GameSell.Mutation private saveTitle: any;
    @S.GameSell.Mutation private saveDescription: any;

    private titleHandler(title: string) {
        this.saveTitle(title);
    }

    private descriptionHandler(desc: string) {
        this.saveDescription(desc);
    }

    ////////////////////////////////////
    //  Step 2 Listing method
    ////////////////////////////////////
    @S.GameSell.Mutation private saveMethodType: any;

    private listingMethod(type: string) {
        this.saveMethodType(type);
        this.e1 = 3;
    }

    ////////////////////////////////////
    //  Step 3 Delivery Listing method
    ////////////////////////////////////
    @S.GameSell.Mutation private saveDeliveryType: any;

    private deliveryMethod(type: string): void {
        this.saveDeliveryType(type);
        this.e1 = 4;
    }

    ////////////////////////////////////
    //  Step 4 cost
    ////////////////////////////////////

    @S.GameSell.Getter private getDeliveryType: any;

    @S.GameSell.Mutation private savePaymentDetails: any;
    @S.GameSell.Mutation private previewListing: any;

    private cost: number | null = this.myListing.cost;
    private postageCost: number | null = this.myListing.postage;

    private savePayment(paymentDetails: {}) {
        this.savePaymentDetails(paymentDetails);
        this.previewListing();
        this.e1 = 5;
    }

    ////////////////////////////////////
    //  Step 5 preview
    ////////////////////////////////////

    @S.GameSell.Getter private getListingPreview: any;

    ////////////////////////////////////
    //  Create Listing
    ////////////////////////////////////

    @S.Listing.Action updateListing: any

    updateListingHandler ():void {
        this.updateListing(this.getListingPreview)
    }
}
</script>


