<template>
    <v-card>
        <v-img
            class="white--text"
            height="200px"
            :src="listing.images[0]"
        >
        </v-img>
        <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">{{listing.title}}</h3>
                <template v-if="listing.method == 'Auction'">
                    Current bid: £{{listing.auctionCurrentBid}} <br>
                    Ends: {{auctionEndDate}}
                </template>

                <template v-else>
                    £{{listing.cost}}
                </template>
            </div>
        </v-card-title>
    </v-card>
</template>

<style lang="scss" scoped>
</style>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import S from '@/store/index';
import moment from 'moment'

@Component
export default class UiListingCard extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    @Prop({type: Object}) listing!: any 

    get auctionEndDate () {

        if(this.listing.auctionStartDate === '') {
            return moment().add(7, 'days').format('LL')
        } else {
            return moment(this.listing.auctionStartDate)
            .add(7, 'days')
            .format('LL')
        }
    }
   
    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////


    
}
</script>


