<template>
    <div>
        <div 
            v-if="image" 
            class="avatar" 
            @click="$refs.profile.click()" 
        > 
            <div 
                class="avatar__container" 
                :style="`background-image: url(${image}); background-size: container; background-position: center center;`"
            >    
            </div> 
        </div>

        <div v-else class="avatar" @click="$refs.profile.click()"> 
            <div class="avatar__container">
                <v-icon color="white">camera_alt</v-icon>
                <p>CHOOSE COVER PHOTO</p> 
                
            </div>     
        </div>

        <!-- Hidden field we need for custom upload -->
        <input type="file" name="profile" ref="profile" @change="onProfileChange"  style="display: none">
         <!--  /Hidden field we need for custom upload -->
    </div>
</template>

<style lang="scss" scoped>
.avatar {
    display: flex;
    align-content: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }    

    &__container {
        margin: -50px auto 0 auto;
        border-radius: 50%;
        padding-top: 25px;
        height: 125px;
        width: 150px;
        background: #aaa;
        text-align: center;
  
    }
}
</style>

<script lang="ts">
import { Vue, Component, Prop} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

@Component
export default class UiProfilePic extends Vue {

    ////////////////////////////////////
    //  Props
    ////////////////////////////////////
    @Prop({
        type: String
    }) image!: string

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
  
    coverImg: string | null = null

    cover: any = this.image

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////

    onProfileChange(e: any) {

        // Image for local use
        this.cover =  e.target.files[0];
        this.image = URL.createObjectURL(this.cover);

        // Sending formData with the emit reques
        let formData = new FormData();

        formData.append('profile', this.cover);

        this.$emit('profileChange', formData);
    }
}
</script>


