<template>
    <div 
        class="select-image"
        v-bind:style="{background: this.bgColor}"
        @click="clickHandler"
    >
        <v-icon class="select-image__icon" color="white">{{this.icon}}</v-icon>
        <h4 class="select-image__copy">{{this.copy}}</h4>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class UiSelectImage extends Vue {

    ////////////////////////////////////
    //  Props
    ////////////////////////////////////

    @Prop({ type: String, default: null, required: true }) icon!: string;
    @Prop({ type: String, default: null, required: true }) copy!: string;
    @Prop({ type: String, default: '#ffffff' }) bgColor!: string;
    
    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////
    
    clickHandler () {
        console.log(`Item clicked ${this.copy}`)
        this.$emit('descriptionHandler', this.copy)
    }

}
</script>

<style lang="scss" >
@import "@/assets/style/_variables.scss";

.select-image {
    height: 100%;
    width: 100%;
    padding: 10px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
    color: $white;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &__icon {
        font-size: 36px;
      
    }
}

.isActive {
    opacity: 1;
}

</style>
