<template>

    <v-toolbar>
        <app-write-something></app-write-something>
    </v-toolbar>

</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';
import WriteSomething from '@/components/Header/WriteSomething.vue';

@Component({
    components: {
        appWriteSomething: WriteSomething,
    },
})
export default class Post extends Vue {}
</script>


