<template>
    <div>
        Create Post
    </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class CreatePost extends Vue {

}
</script>
