<template>
    <header class="header">
        <slot></slot>
    </header>
</template>

<style lang="scss" scoped>
    .header {
        background: #00b2b2;
        width: 100%;
        color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 60px;
        z-index: 5;
        overflow: hidden;

        p{
            margin-bottom: 0;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';

import Component from 'vue-class-component';

@Component
export default class UIHeader extends Vue {}
</script>
