<template>
    <v-layout>
        <v-flex xs2>
            <v-avatar color="grey lighten-4">
                <router-link to="create-post"> 
                    <img src="https://via.placeholder.com/20" alt="avatar">
                </router-link>
            </v-avatar>
        </v-flex>

        <v-flex xs10>
            <v-text-field
                label="What's on your mind??"
            ></v-text-field>
        </v-flex>
    </v-layout>
</template>

<style lang="scss" scoped>

</style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class WriteSomething extends Vue {

}
</script>

