<template>
    <div>
        <ui-header>
            <v-container>
                <v-flex xs12>
                    <p class="text-xs-right">
                        <v-icon
                            color="white"
                            @click="$router.push('/search-results')"
                        >
                            search
                        </v-icon>
                    </p>
                </v-flex>
            </v-container>
        </ui-header>

        <ui-body>
            <v-list  v-if="Object.keys(recentlyViewed).length != 0">
                <v-subheader>Recently Viewed</v-subheader>
                <v-spacer></v-spacer>

                <ui-twitch-list
                    v-for="game in recentlyViewed" 
                    v-bind:key="game._id"
                    :game="game"
                >
                </ui-twitch-list>
            </v-list>
        </ui-body>
    </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class Search extends Vue {
    @S.Game.Getter private recentlyViewed: any;
}
</script>


