<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs12>
                        <div class="searchbox">
                            <v-text-field
                            solo
                                v-model="userInput"
                                label="Example: Super Metroid"
                                @keyup.enter="searchHandler"
                                single-line
                            ></v-text-field>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body>
            <ui-twitch-list
                v-for="game in searchResult" 
                v-bind:key="game._id"
                :game="game"
            >
            </ui-twitch-list>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>
.searchbox {
    margin-top: -10px;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class SearchResults extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    private userInput: string ='';
    private games: any = '';

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

    @S.SearchTwitch.Getter private recentSearches!: any;
    @S.SearchTwitch.Getter private searchResult!: any; 

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    @S.SearchTwitch.Mutation private saveSearch!: any; // fix

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.SearchTwitch.Action private getGamesFromTwitch!: any;

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////

    private searchHandler(): void {
        this.getGamesFromTwitch(this.userInput);
    }

    private storeSearchAndGo(id: string | number, title: string): void {
        this.saveSearch({id, title});
    }

    // TODO add loading state
}
</script>


