<template>
  <div>

    <ui-header>
      <v-container>
        <v-layout>
          <v-flex xs12>
            <ui-back></ui-back>
          </v-flex>
        </v-layout>
      </v-container>
    </ui-header>

    <v-tabs
        v-model="active"
        color="cyan"
        dark
        slider-color="yellow"
    >

      <!-- tab headings -->
      <v-tab 
        v-for="tab in tabs" 
        :key="tab.id" 
        ripple
      >
          {{tab.title}}
      </v-tab>
      <!-- / tab headings -->

      <!-- tab content -->
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.id"
      >
          <div v-if="tab.id === 1">
           
          </div>

          <div v-if="tab.id === 2">
            Find news articles
          </div>

          <div v-if="tab.id === 3">
            View this game on the marketplace
          </div>

          <div v-if="tab.id === 4">
              <app-sell></app-sell>
          </div>

          <div v-if="tab.id === 5">
            View game streams
          </div>
      </v-tab-item>
      <!-- tab content -->

      
    </v-tabs>
  </div>
</template>

<style lang="scss" scoped>

</style>

<script lang="ts">
import Vue from 'vue';
import { Getter } from 'vuex-class';

import S from '@/store/index';
import Component from 'vue-class-component';

import sell from '@/pages/game/ViewSell.vue';


@Component({
    components: {
        appSell: sell,
    },
})
export default class Game extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    private active: any = null;

    private tabs: any[] = [
        {id: 1, title: 'About'},
        {id: 2, title: 'News'},
        {id: 3, title: 'Buy'},
        {id: 4, title: 'Sell'},
        {id: 5, title: 'Streams'},
    ]

    private next() {
      const active = parseInt(this.active);
      this.active = (active < 4 ? active + 1 : 0);
    }
}
</script>
