<template>
    <div class="listing">
        <ui-fullscreen
            v-if="isOverlayVisible"
            header="oioi"
            copy="Your listing is now on the marketplace"
            icon="check"
            linkTo="/marketplace"
            linkToText="Go to marketplace"
            v-on:onClick="closeFullscreen"
        >
        </ui-fullscreen>

        <!-- Step 1 - Add images/video -->
        <div 
            v-if="previewFiles.length === 0"
            class="listing__placeholder"
            @click="$refs.files.click()"    
        >
            <v-container fluid>
                <v-layout
                    align-center 
                    justify-center 
                    row 
                    fill-height
                >
                    <p>Image/Video</p>
                </v-layout>
            </v-container>
        </div>

        <div v-else>
            <v-carousel>
                <v-carousel-item
                    v-for="file in previewFiles" 
                    v-bind:key="file.id" 
                    :src="file.image" 
                ></v-carousel-item>
            </v-carousel>
        </div>
            


        <input 
            type="file" 
            id="files" 
            ref="files" 
            name="listingImages"
            multiple 
            v-on:change="handleFileUploads()"
            style="display:none;"
        />
        <!-- / Step 1 - Add images/video -->

        <!-- Step 2 - title and autocomplete -->
        <v-container grid-list-md fluid>

            <!-- Autocomplete -->
            <v-layout>
                <v-flex xs12>
                    <v-autocomplete
                        v-model="listingName"
                        :items="twitchResults"
                        :loading="isLoading"
                        :search-input.sync="search"
                    
                        clearable
                        hide-details
                        hide-selected
                        item-text="name"
                        label="Listing title"
                       
                    >

                        <!-- No data -->
                        <template slot="no-data">
                            <v-list-tile>
                                <v-list-tile-title>
                                    <strong>Example:</strong> Super Metroid
                                </v-list-tile-title>
                            </v-list-tile>
                        </template>
                        <!-- / No data -->

                        <!-- Selected -->
                        <template
                            slot="selection"
                            slot-scope="{ item, selected }"
                        >
                            <span 
                                :selected="selected" 
                                v-text="item.name"     
                            >
                            </span>
                        </template>
                        <!-- / Selected -->

                        <!-- Results -->
                        <template
                            slot="item"
                            slot-scope="{ item, tile }"
                        >
                             <v-list>
                                <v-list-tile @click="findPrices(item)">
                                    <v-list-tile-content>
                                        <v-list-tile-title v-html="item.name"></v-list-tile-title>
                                        
                                    </v-list-tile-content>
                                </v-list-tile>
                                
                            </v-list>
                        </template>
                        <!-- / Results -->
                    </v-autocomplete>
                </v-flex>
            </v-layout>
            <!-- / Autocomplete -->

            <!-- Pricing stats -->
            <v-layout v-if="listingName !== ''">
                <v-flex xs12>
                    <v-radio-group v-model="itemCondition" row>
                        <v-radio label="Loose" value="loose"></v-radio>
                        <v-radio label="Boxed" value="boxed"></v-radio>
                    </v-radio-group>
                </v-flex>
            </v-layout>
            <!-- / Pricing stats -->

            <!-- Pricing stats -->
            <v-layout v-if="itemCondition === 'loose'" wrap>
                <v-flex xs12>
                    <p>Item summary</p>
                </v-flex>
                <v-flex xs4>
                    Highest - £69.99
                    <v-img
                        :src="require('@/assets/zelda 1 cart v2.jpg')"
                        max-height="125"
                        postition="center top"
                    />

                </v-flex>

                <v-flex xs4>
                    Lowest - £14.81
                    <v-img
                        :src="require('@/assets/zelda 2 cart.jpg')"
                        max-height="75"
                        postition="center top"
                    />
                </v-flex>

                <v-flex xs4>
                    Average - £43.29
                    <v-img
                        :src="require('@/assets/zelda 1 cart v3.jpg')"
                        max-height="75"
                        postition="center top"
                    />
                </v-flex>
            </v-layout>

            <v-layout v-if="itemCondition === 'boxed'" wrap>
                <v-flex xs12>
                    <p>Item summary</p>
                </v-flex>
                <v-flex xs4>
                    Highest - £109.99
                    <v-img
                        max-height="75"
                        :src="require('@/assets/zelda 1 box.jpg')"
                        postition="center top"
                    />

                </v-flex>

                <v-flex xs4>
                    Lowest - £ 23.34
                    <v-img
                        max-height="75"
                        :src="require('@/assets/zelda 1 box v2.jpg')"
                        postition="center top"
                    />
                </v-flex>

                <v-flex xs4>
                    Average - £44.34
                    <v-img
                        max-height="75"
                        :src="require('@/assets/zelda 1 box v3.jpg')"
                        postition="center top"
                    />
                </v-flex>
            </v-layout>
            <!-- / Pricing stats -->

        </v-container>
        <!-- / Step 2 - title and autocomplete -->

        <!-- Step 3 - Listing type -->
        <v-container grid-list-md >
            <v-layout row>
                <v-flex xs6 v-for="type in types" v-bind:key="type.id">
                   <ui-select-image
                        :bgColor="type.bgColor"
                        :icon="type.icon"
                        :copy="type.copy"
                        v-bind:class="{'isActive' : activeListingType === type.id}"
                        v-on:descriptionHandler="listingTypeHandler(type.id, type.copy)"
                    >
                    </ui-select-image>
                </v-flex>
            </v-layout>
        </v-container>
        <!-- /Step 3- Listing type -->

        <!-- Step 4 Delivery -->
        <v-container grid-list-md >
            <v-layout row>
                <v-flex xs4 v-for="type in deliveryTypes" v-bind:key="type.id">
                   <ui-select-image
                        :bgColor="type.bgColor"
                        :icon="type.icon"
                        :copy="type.copy"
                        v-bind:class="{'isActive' : activeMethodType === type.id}"
                        v-on:descriptionHandler="deliveryTypeHandler(type.id, type.copy)"
                    >
                    </ui-select-image>
                </v-flex>
            </v-layout>
        </v-container>
        <!-- /Step 4 Delivery -->

        <!-- Step 5 - Cost/Post/Auction -->
        <v-container grid-list-md >
            <v-layout>
                <v-flex xs6>
                    <v-text-field
                        :label="labelForCost"
                        v-model="cost"
                    ></v-text-field>
                </v-flex>

                <v-flex xs6 v-if="showPostage">
                    <v-text-field
                        label="Postage"
                        v-model="postageCost"
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout 
                v-if="showDateControls"
                wrap
            >
                <v-flex xs6>
                    <!-- Day/Month -->
                    <v-dialog
                        ref="dialog"
                        v-model="modal"
                        :return-value.sync="auctionStartDate"
                        persistent
                        lazy
                        full-width
                        width="290px"
                    >
                        <v-text-field
                            slot="activator"
                            v-model="auctionStartDate"
                            label="Date/Month"
                            prepend-icon="event"
                            readonly
                        ></v-text-field>
                        
                        <v-date-picker v-model="auctionStartDate" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog.save(auctionStartDate)">OK</v-btn>
                        </v-date-picker>
                    </v-dialog>
                    <!-- / Day/Month -->
                </v-flex>

                <v-flex xs6>
                    <!-- Time -->
                    <v-dialog
                        ref="dialog1"
                        v-model="modal2"
                        :return-value.sync="timePicker"
                        persistent
                        lazy
                        full-width
                        width="290px"
                    >
                        <v-text-field
                            slot="activator"
                            v-model="timePicker"
                            label="Time"
                            prepend-icon="access_time"
                            readonly
                        ></v-text-field>

                        <v-time-picker
                            v-if="modal2"
                            v-model="timePicker"
                            full-width
                        >
                        <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog1.save(timePicker)">OK</v-btn>
                        </v-time-picker>
                    </v-dialog>
                    <!-- / Time -->
                </v-flex>
            </v-layout>

            <v-layout>
                <v-flex xs12>
                    <v-textarea
                        v-model="listingDescription"
                        auto-grow
                        label="Description"
                        rows="1"
                        counter="500"
                        suffix="optional"
                    ></v-textarea>
                </v-flex>
            </v-layout>
        </v-container>
        <!-- / Step 5 - Cost/Post/Auction -->

        <v-container>
            <v-layout>
                <v-flex xs12>
                    <v-btn
                        color="primary"
                        block
                        @click.native="listMyItem"
                    >
                        List my item
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<style lang="scss">
.listing {
    
    &__placeholder {
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-content: center;
        background: #fff;
    }
}

.select-image {
    height: 100%;
    width: 100%;
    padding: 10px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
    color: #fff;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &--active {
        opacity: 1;
    }

    &__icon {
        font-size: 36px;
      
    }
}
</style>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import {Money} from 'v-money'
import S from '@/store/index';
import draggable from 'vuedraggable'
import { oioiApiInstance } from '@/services/service-instances.api'
import { required, decimal  } from 'vuelidate/lib/validators';

@Component({
    components: {
        Money,
        draggable
    }, 
    validations: {
        listingName: {
            required,
        },
        cost: {
            required,
            decimal
        },
    },
})
export default class Sell extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    listingName: string = ''
    listingDescription: string = ''
    search: null = null
    isLoading: boolean = false
    selectedItem: {} = {}
    itemCondition: number = 1

    activeListingType: string | null = null
    activeMethodType: number | null = null

    modal: boolean = false
    modal2: boolean = false

    auctionStartDate: string = ''
    timePicker: string = '00:00'

    showDateControls: boolean = false
    showPostage: boolean = false

    files: any[] = []
    previewFiles: any[] = []

    types = [
        {
            id: 1,
            bgColor: '#00BCD4',
            icon: 'filter',
            copy: 'Buy Now' 
        },
        {
            id: 2,
            bgColor: '#00BCD4',
            icon: 'filter',
            copy: 'Auction' 
        }
    ]

    deliveryTypes = [
        {
            id: 1,
            bgColor: '#00BCD4',
            icon: 'filter',
            copy: 'Post' 
        },
        {
            id: 2,
            bgColor: '#00BCD4',
            icon: 'filter',
            copy: 'Collection' 
        },
        {
            id: 3,
            bgColor: '#00BCD4',
            icon: 'filter',
            copy: 'Both' 
        }
    ]

    cost: number | null = 0.00
    costError: any[] = []
    postageCost: number | null = 0.00
    auctionStartPrice: number | null = 0.99

    get twitchResults () {
        return this.$store.getters['search/twitch/searchResult']
    }

    get labelForCost () {
        if (this.activeListingType === 1) {
            return 'Cost'
        } else {
            return 'Starting price'
        }
    }

    get listingType () {
        if (this.activeListingType === 1) {
            return 'Buy it now'
        } else {
            return 'Auction'
        }
    }

    get deliveryType () {
        if (this.activeMethodType === 1) {
            return 'Postage'
        } else if (this.activeMethodType === 2) {
            return 'Collection'
        } else {
            return 'Both'
        }
    }

    ////////////////////////////////////
    //  validations
    ////////////////////////////////////

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

    @S.Ui.Getter isOverlayVisible!: boolean
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////

    @S.ListingCreate.Action storeLocation: any
    @S.ListingCreate.Action createListing: any
    @S.ListingCreate.Action resetListingStatus: any
    @S.SearchTwitch.Action  getGamesFromTwitch!: any
    @S.Ui.Action hideOverlay: any

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////

    @Watch('search')
    trigger(val: string) {
        if (this.twitchResults.length > 0) return
        this.getGamesFromTwitch(val)
    } 

    findPrices(selected: any) {
        this.selectedItem = selected
    }

    listingTypeHandler (selected: number, method: string) {
        this.activeListingType = selected

        if (selected === 2) {
            this.showDateControls = true
        } else {
            // clear controls
            this.showDateControls = false
        }

    }

    deliveryTypeHandler (selected: number, method: string) {
        this.activeMethodType = selected

        if (selected !== 2) {
            this.showPostage = true
        } else {
            this.showPostage = false
        }
    }

    handleFileUploads () {
        let uploadedFiles = this.$refs.files.files;

        // add our new file to an array and create a url for live viewing
        for( let i = 0; i < uploadedFiles.length; i++ ){
            // preview listing thumbnail
            this.previewFiles.push({
                id: i,
                image: URL.createObjectURL(uploadedFiles[i])
            })

            // Prepare for formData
            this.files.push( uploadedFiles[i] );

        }
    }

    coords(pos: any) {
        console.log(pos)
        this.storeLocation(pos)
    }

    listMyItem() {

        // Prepare files for upload
        let formData = new FormData();

        for( var i = 0; i < this.files.length; i++ ){
            let file = this.files[i];

            formData.append('files', file);
        }

        // Append new values to formData
        formData.append('title', this.listingName)
        formData.append('description', this.listingDescription)
        formData.append('cost', this.cost)
        formData.append('postage', this.postageCost)
        formData.append('listingType', this.listingType)
        formData.append('deliveryType', this.deliveryType)
        formData.append('auctionStartPrice', this.auctionStartPrice)
        formData.append('auctionStartDate', this.auctionStartDate)
        formData.append('auctionStartTime', this.auctionStartTime)  

        this.createListing(formData)
    }

    closeFullscreen (route: string) {
        this.hideOverlay()
        this.resetListingStatus()
        this.$router.push(route)
    }
    

    created () {
        navigator.geolocation ? 
            navigator.geolocation.getCurrentPosition(this.coords) : null
    }
}
</script>


