<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs2>
                        <ui-back></ui-back>
                    </v-flex>

                    <v-flex offset-xs6 xs2>
                        <p class="text-xs-right">
                            <v-icon
                                @click="goToEditListing()"
                            >edit</v-icon>
                        </p>
                    </v-flex>

                    <v-flex xs2 class="text-right-xs">
                        <p class="text-xs-right">
                            <v-icon
                                @click="deleteDialog = !deleteDialog"
                            >delete</v-icon>
                        </p>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-fullscreen
            v-if="isOverlayVisible"
            header="Success"
            copy="Your listing has now been removed"
            icon="check"
            linkTo="/inn"
            linkToText="Back to my listings"
            v-on:onClick="closeFullscreen"
        ></ui-fullscreen>

        <ui-body
            v-if="listingLoaded"
        >
        
            <v-carousel>
                <v-carousel-item
                    v-for="(item,i) in items"
                    :key="i"
                    :src="item.src"
                ></v-carousel-item>
            </v-carousel>

            <v-container>
                <v-layout>
                    <v-flex xs12>
                        <h1>{{myListing.title}}</h1>
                        <p>£{{myListing.cost}}</p>
                        <p>{{myListing.description}}</p>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-body>

        <!-- Delete Dialog -->
            <v-dialog
                v-model="deleteDialog"
                max-width="290"
                v-if="!deletedListing"
            >
            <v-card>
                <v-card-title class="headline">Delete this item?</v-card-title>

                <v-card-text>
                    Note: Once you proceed you will not be able to undo this action
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        flat
                        @click="deleteDialog = false"
                    >
                        Cancel
                    </v-btn>

                    <v-btn
                        color="primary"
                        flat="flat"
                        @click="deleteListing"
                    >
                        Delete
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- / Delete Dialog -->
    </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class Sell extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    items: any = [
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
        }
    ]

    deleteDialog: boolean = false;

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.Listing.Getter myListing: any;
    @S.Listing.Getter listingLoaded: any;
    @S.Listing.Getter deletedListing: any;
    @S.Listing.Getter deletingListing: any;
    @S.Ui.Getter isOverlayVisible!: boolean

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.Listing.Action resetListingStatus: any;
    @S.Listing.Action getMyListing: any;
    @S.Listing.Action deleteMyListing: any;
    @S.Ui.Action hideOverlay: any

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////
    created() {
        this.resetListingStatus()
        this.getMyListing(this.$route.params.id)

        console.log(this.myListing)
    }

    deleteListing() {
        this.deleteMyListing(this.$route.params.id)
    }

    goToEditListing() {
        this.$router.push('/inn/mylisting/edit/' + this.$route.params.id);
    }

    closeFullscreen (route: string) {
        this.hideOverlay()
        this.$router.push(route)
    }
}
</script>


