<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs2>
                        <ui-back></ui-back>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body
            v-if="listingLoaded"
        >
            <ui-listing-form
                :myListing="myListing"
            >
            </ui-listing-form>
        </ui-body>

        <ui-fullscreen
            v-if="isOverlayVisible"
            header="oioi"
            copy="Your listing has now been updated"
            icon="check"
            linkTo="/marketplace"
            linkToText="Go to marketplace"
            v-on:onClick="closeFullscreen"
        ></ui-fullscreen>
    </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class Sell extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    items: any = [
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
        },
        {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
        }
    ]

    deleteDialog: boolean = false;

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.Listing.Getter myListing: any;
    @S.Listing.Getter listingLoaded: any;
    @S.Listing.Getter deletedListing: any;
    @S.Listing.Getter deletingListing: any;
    @S.Listing.Getter updatedListing: any;
    @S.Ui.Getter isOverlayVisible!: boolean
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.Listing.Action resetListingStatus: any;
    @S.Listing.Action getMyListing: any;
    @S.Listing.Action deleteMyListing: any;
    @S.Ui.Action hideOverlay!: boolean

    ////////////////////////////////////
    //  Methods
    ////////////////////////////////////
    created() {
        this.resetListingStatus()
        this.getMyListing(this.$route.params.id)
    }
}
</script>


