<template>
    <div>
        <v-list two-line>
            <v-subheader>
                My Listings
            </v-subheader>

            <v-divider></v-divider>

            <v-list-tile
                v-for="listing in myListings"
                :key="listing.id"
                avatar
                @click="goToListing(listing._id)"
            >
                <v-list-tile-avatar>
                <img src="https://via.placeholder.com/150">
                </v-list-tile-avatar>

                <v-list-tile-content>
                    <v-list-tile-title 
                        v-html="listing.title">
                    </v-list-tile-title>
                    <v-list-tile-sub-title 
                        v-html="listing.description">
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>
<style lang="scss" scoped>
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class ViewMyListings extends Vue {

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.ListingsApi.Getter myListings: any;


    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.ListingsApi.Action getMyListings: any;

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////
    created() {
        this.getMyListings()
    }

    goToListing(listingId: number | string) {
        this.$router.push('/inn/mylisting/' + listingId);
    }
}
</script>
