<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout>
                    <v-flex xs12>
                        <ui-back></ui-back>
                    </v-flex>
                </v-layout> 
            </v-container>
        </ui-header>

        <ui-body>
            My Account
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>

</style>

<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';

import { Getter, Mutation, State, Action } from 'vuex-class';

import S from '@/store/index'

import { required } from 'vuelidate/lib/validators';


@Component
export default class ViewProfile extends Vue {
}
</script>


