<template>
    <div>
    <v-list-tile
        :key="game.name"
        avatar
        @click="viewGameHandler($event, game)"
    >
        <v-list-tile-avatar>
            <img :src="game.cover">
        </v-list-tile-avatar>

        <v-list-tile-content>
            <v-list-tile-title v-html="game.name"></v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
    <v-divider></v-divider>
    </div>
</template>


<style lang="scss" scoped>

</style>

<script lang="ts">
import { Vue, Component, Emit, Prop } from 'vue-property-decorator';

import S from '@/store/index';

@Component({
  props: {
    game: Object,
  },
})

export default class UiTwitchResult extends Vue {

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    @S.Game.Mutation private saveSearchAndGo!: any; // fix

    private viewGameHandler(ev: KeyboardEvent, game: any): void {
       this.saveSearchAndGo(game);
       this.$router.push('game');
    }
}

</script>


