<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout align-start justify-center row fill-height>
                    <v-flex xs10>
                        <v-text-field
                            solo
                            v-model="searchMarketPlace"
                            label="What are you looking for?"
                            @keyup.enter="triggerSearchMarketplace"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs2>
                        <p class="text-xs-center">
                            <v-icon color="white">tune</v-icon>
                        </p>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body>
            get cracking
        </ui-body>

        <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
            <v-list-tile-avatar>
                <img src="https://randomuser.me/api/portraits/men/85.jpg">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title>John Leider</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
            <v-divider></v-divider>

            <v-list-tile>
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
        </v-navigation-drawer>
    </div>
</template>

<style lang="scss" scoped>
.v-text-field__details{
    display: none;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class ViewMarketplace extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    drawer: null = null
   

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

   

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    

    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////


    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////

    
}
</script>


