<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout align-start justify-center row fill-height>
                    <v-flex xs10>
                        <ui-back></ui-back>
                    </v-flex>
                    <v-flex xs6>
                        <p class="text-xs-right">
                            NEW LISTING
                        </p>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body>
            <view-sell></view-sell>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>
.searchbox {
    margin-top: -10px;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import S from '@/store/index';
import ViewSell from '@/pages/game/ViewSell.vue'

@Component({
    components: {
        ViewSell
    }
})
export default class ViewCreateListing extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////
}
</script>


