<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout align-start justify-center row fill-height>
                    <v-flex xs12>
                        <ui-back></ui-back>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body v-if="Object.keys(listing).length !== 0">
            <v-carousel>
                <v-carousel-item
                    v-for="image in listing._doc.images"
                    :key="image"
                    :src="image"
                ></v-carousel-item>
            </v-carousel>
            
            <v-container>
                <v-layout wrap>

                    <v-flex xs6>
                        <p>Category: XXX</p>
                    </v-flex>

                    <v-flex xs6>
                        <p class="text-xs-right">Posted {{posted}}</p>
                    </v-flex>

                    <v-flex xs12>
                        <h1>{{listing._doc.title}}</h1>
                        <p>{{listing._doc.description}}</p>

                        <template v-if="listing._doc.method == 'Auction'">
                            <v-layout>
                                <v-flex xs6>
                                    <p><strong>Current bid:</strong> £{{listing._doc.auctionCurrentBid}}</p>
                                </v-flex>

                                <v-flex xs6>
                                    <p class="text-xs-right"><strong>Bids:</strong> 0 </p>
                                </v-flex>
                            </v-layout>

                            <v-layout>
                                <v-flex xs6>
                                    <p><strong>Ends:</strong> {{endDate}}</p>
                                </v-flex>

                                <v-flex xs6>
                                    <p class="text-xs-right"><strong>Postage</strong> £{{listing._doc.postage}}</p>
                                </v-flex>
                            </v-layout>

    

                            <!-- Place Bid -->
                            <v-text-field
                                label="Place bid"
                                v-model="bid"
                                :value="currentBid"
                            ></v-text-field>
                            <!-- / Place bid -->

                            <p v-if="response.showMessage">
                                {{response.message}}
                            </p>

                            <v-btn
                                color="primary"
                                block
                                @click.native="submitBid"
                            >
                                Submit bid
                            </v-btn>

                        </template>

                        <template v-else>
                           <v-btn
                                @click.native="buyThisItem"
                                block
                                color="primary"
                            >
                                Buy now
                            </v-btn> 
                        </template>

                        

                        <v-btn
                            block
                        >
                            Contact seller
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>

            <v-list two-line>
                <v-subheader>
                    About the seller
                </v-subheader>
                <v-list-tile
                    avatar
                >
                    <v-list-tile-avatar>
                        <img :src="listing.sellerCover">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{listing.sellerUsername}} (XX Positive feedback)</v-list-tile-title>
                        <v-list-tile-sub-title> Member since XX-XX-XXXX</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

            <v-list two-line>
                <v-subheader>
                    Recent Feedback
                </v-subheader>
                <v-list-tile
                    avatar
                >
                    <v-list-tile-avatar>
                        <img :src="listing.sellerCover">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>Mario(XX Positive feedback)</v-list-tile-title>
                        <v-list-tile-sub-title>"Lorem ipsum dolor sit amet,"</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

           <GmapMap
                :center="{lat: Number(listing._doc.latitude), lng: Number(listing._doc.longitude)}"
                :zoom="15"
                map-type-id="terrain"
                style="width: 100%; height: 300px"
                >

                  <GmapMarker
                    :position="position"
                    :clickable="true"
                    :draggable="true"
                    @click="center=position"
                />

            </GmapMap>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>
.searchbox {
    margin-top: -10px;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import S from '@/store/index';
import moment from 'moment';


@Component
export default class ViewListing extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    bid: number = 0

    get position () {
        return {
            lat: Number(this.listing._doc.latitude),
            lng: Number(this.listing._doc.longitude),  
        }
    }

    get posted () {
        return moment
            .unix(this.listing._doc.createdAt)
            .format('LL')
    }

    get endDate () {
        if (this.listing._doc.auctionStartDate === '') {
            return moment
                .unix(this.listing._doc.createdAt)
                .add(7, 'days')
                .format('LL')
        } else {
            return moment
                .unix(this.listing._doc.auctionStartDate)
                .add(7, 'days')
                .format('LL')
        }
    }

    get currentBid () {
        return this.bid = this.$store.getters['marketplace/listing']._doc.auctionCurrentBid
    }
    

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.Marketplace.Getter listing!: any
    @S.MarketplaceBids.Getter response!: any
    
    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.Marketplace.Action getListing!: any
    @S.MarketplaceBids.Action placeBid: any

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////

    submitBid () {
        this.placeBid({
            itemId:this.listing._doc._id,
            bid: this.bid
        })
    }

    created () {
        this.getListing(this.$route.params.id)
    }
}
</script>


