<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout align-start justify-center row fill-height>
                    <v-flex xs10>
                        <div class="searchbox">
                            <v-text-field
                                solo
                                label="What are you looking for?"
                            ></v-text-field>
                        </div>
                        
                    </v-flex>
                    <v-flex xs2>
                        <p class="text-xs-center">
                            <v-icon 
                                @click.stop="drawer = !drawer" 
                                color="white"
                            >
                                tune
                            </v-icon>
                        </p>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body>
            <v-container>
                <v-layout>
                        <v-flex xs12>
                            <v-btn
                                block
                                color="primary"
                                to='/marketplace/create'
                            >
                                new listing
                            </v-btn>
                        </v-flex>
                </v-layout>
            </v-container>

            <v-container 
                v-for="listing in listings"
                v-bind:key="listing._id"
            >
                <v-layout>
                    <v-flex xs12>
                        <ui-listing-card
                            :listing="listing"
                            @click.native="viewListing(listing._id)"
                        ></ui-listing-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-body>

        <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
            >
      <v-list class="pa-1">
        <v-list-tile avatar>
            <v-list-tile-avatar>
                <img src="https://via.placeholder.com/25">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title>Marketplace filters</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
            <v-divider></v-divider>

            <v-list-tile @click="toggleFilter">
            <v-list-tile-action>
                <v-icon>search</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>tile title</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
        </v-navigation-drawer>
    </div>
</template>

<style lang="scss" scoped>
.searchbox {
    margin-top: -10px;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

@Component
export default class ViewMarketplace extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    drawer: boolean = false

    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////
    @S.Marketplace.Getter listings!: any
   
    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////
    @S.Marketplace.Action getAllListings!: any

    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////
    created () {
        this.getAllListings()
    }

    toggleFilter () {

    }

    viewListing (itemId: number) {
        this.$router.push('/marketplace/view/' + itemId)
    }
    
    
}
</script>


