<template>
    <v-app> 
        <div id="app">  
            <transition name="component-fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </v-app>
</template>

<style lang="scss">
  body {
    font-family: "Roboto"
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }
</style>



