<template>
    <v-toolbar light color="teal">
      <div class="search">
        <v-text-field
          solo
          v-model="userinput"
          label="Example: Super Metroid"
          @keyup.enter="inputChanged"
        ></v-text-field>
      </div>
    </v-toolbar>
</template>

<style lang="scss" scoped>
  .search {
    width: 100%;
    margin-top: 5px;
  }
</style>

<script lang="ts">
import Vue from 'vue';
import {Emit, Component, Provide } from 'vue-property-decorator';

@Component
export default class SearchHeader extends Vue {

  // Define data
  @Provide() private userinput: string = '';
  
  // Emit
  inputChanged(ev: any) {
    this.$emit('userStartSearch', ev.target.value);
  }
}
</script>

