<template>
    <div>
        <ui-header>
            <v-container>
                <v-layout align-start row fill-height>
                    <v-flex xs2>
                        <ui-back></ui-back>
                    </v-flex>
                    <v-flex offset-xs10>
                        Inn
                    </v-flex>
                </v-layout>
            </v-container>
        </ui-header>

        <ui-body>
                 
            <v-tabs 
                v-model="active"
                color="cyan"
                dark
                slider-color="yellow"
            >
                <v-tab ripple>
                    Notifications
                </v-tab>

                <v-tab ripple>
                    Posts
                </v-tab>

                <v-tab ripple>
                    Listings
                </v-tab>

                <v-tab ripple>
                    Messages
                </v-tab>

                <v-tab-item>
                    <v-card flat>
                        <v-card-text>Notifications</v-card-text>
                    </v-card>
                </v-tab-item>

                <v-tab-item>
                    <v-card flat>
                        <v-card-text>Posts</v-card-text>
                    </v-card>
                </v-tab-item>

                <v-tab-item>
                    <view-my-listings></view-my-listings>
                </v-tab-item>

                <v-tab-item>
                    <v-card flat>
                        <v-card-text>Messages</v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </ui-body>
    </div>
</template>

<style lang="scss" scoped>
.v-text-field__details{
    display: none;
}
</style>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import S from '@/store/index';

import ViewMyListings from '@/pages/inn/listings/ViewMyListings.vue'

@Component({
    components: {
        ViewMyListings
    }
})
export default class ViewMarketplace extends Vue {

    ////////////////////////////////////
    //  Data
    ////////////////////////////////////
    active: number | null = null
   
    ////////////////////////////////////
    //  Getters
    ////////////////////////////////////

    ////////////////////////////////////
    //  Mutations
    ////////////////////////////////////
    
    ////////////////////////////////////
    //  Actions
    ////////////////////////////////////


    ////////////////////////////////////
    //  Events and methods
    ////////////////////////////////////
    
}
</script>


